@import 'nib'

@import "core/vars"
@import "core/type"
@import "core/media-queries"

// style mixins
@import "mixins/flexbox"
@import "mixins/images"

// core layout
@import "layout/base"
@import "layout/sections"

// content blocks
@import "pages/root"