/**
* Media queries
**/
_mq-widescreen = 1440
_mq-desktop = 1280
_mq-notebook = 960
_mq-tablet = 768
_mq-mobile = 600

/**
* Fluid fonts mixin
**/
fontsize(max, min, toWidth, fromWidth)
  font-ratio = "calc(%s / %s * 100%)" % (max min)
  font-difference = max - min
  width-difference = ~~(toWidth) - fromWidth
  font-size "calc(%s + %s * (100vw - %spx) / %s)" % (font-ratio font-difference toWidth width-difference)

/**
* Media queries with fluid font-sizes
**/

widescreen()
  @media (min-width: unit(_mq-widescreen,'px'))
    fontsize(_font-widescreen, _font-desktop, _mq-widescreen, _mq-desktop)
    {block}

desktop()
  @media (min-width: unit(_mq-desktop, 'px'))
    fontsize(_font-desktop, _font-notebook, _mq-desktop, _font-notebook)
    {block}

notebook()
  @media (min-width: unit(_mq-notebook, 'px'))
    fontsize(_font-notebook, _font-tablet, _mq-notebook, _mq-tablet)
    {block}

tablet() 
  @media (min-width: unit(_mq-tablet, 'px')) 
    fontsize(_font-tablet, _font-mobile, _mq-tablet, _mq-mobile)
    {block}

/**
* Base mobile queries
**/

mobile()
  @media (min-width: $mobile) 
    {block}

mobile-landscape()
  @media (max-height: $mobile) 
    {block}

/**
* Custom mixins
**/
mq-max(width)
  @media (max-width: width) 
    {block}

mq-min(width)
  @media (min-width: width) 
    {block}